force-app/main/default/flows/RCA_Approver_Locator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Not_Triggered_User</name>
        <label>Not Triggered User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>dummy@dummy.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Output_Live_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Live_Approval</name>
        <label>Output Live Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalLive.approvalRuleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalRule.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLive.approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approver</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLive.triggeringStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ruleTriggered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLive.approvalStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLiveList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>approvalLive</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Group_Id</name>
        <label>Set Group Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalRule.Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Output_Live_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Manager_Id</name>
        <label>Set Manager Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>managerRecord.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Output_Live_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Managers_Manager</name>
        <label>Set Managers Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>managerManagerRecord.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Output_Live_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Approver</name>
        <label>Set User Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalRule.Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Output_Live_Approval</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Select_Approver</name>
        <label>Select Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Not_Triggered_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule Not Triggered</defaultConnectorLabel>
        <rules>
            <name>Triggered_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvalRule.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ruleTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Approver</targetReference>
            </connector>
            <label>Triggered - User</label>
        </rules>
        <rules>
            <name>Triggered_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvalRule.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ruleTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Manager_Id</targetReference>
            </connector>
            <label>Triggered Manager</label>
        </rules>
        <rules>
            <name>Triggered_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvalRule.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ruleTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_Id</targetReference>
            </connector>
            <label>Triggered - Group</label>
        </rules>
        <rules>
            <name>Triggered_ManagerManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvalRule.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ruleTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Managers_Manager</targetReference>
            </connector>
            <label>Triggered - ManagerManager</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RCA Approver Locater {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCA Approver Locator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Approver</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvalLive</name>
        <apexClass>ApprovalRecordsWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>approvalLiveList</name>
        <apexClass>ApprovalRecordsWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approvalRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RCA_Approval_Rule__c</objectType>
    </variables>
    <variables>
        <name>approver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>managerManagerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>managerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>quoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>ruleTriggered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UsersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
