force-app/main/default/flows/RCA_Screen_Approval_Answers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Answers</name>
        <label>Update Answers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalAnswerRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RepeaterLoop.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalAnswerRecord.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RepeaterLoop.Answer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnswersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>approvalAnswerRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RepeaterLoop</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Are_there_Any_Records</name>
        <label>Are there Any Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Answer_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes We Have Records</defaultConnectorLabel>
        <rules>
            <name>No_Records_We_can_Skip_to_the_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Answer_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_to_Needs_Review</targetReference>
            </connector>
            <label>No Records We can Skip to the End</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RCA Screen Approval Answers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCA Screen Approval Answers</label>
    <loops>
        <name>RepeaterLoop</name>
        <label>RepeaterLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>RepeatMe.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Answers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Answer_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Answer_Records</name>
        <label>Get Answer Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Any_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApprovalAnswers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Answer_Records</name>
        <label>Update Answer Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quote_to_Needs_Review</targetReference>
        </connector>
        <inputReference>AnswersCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_to_Needs_Review</name>
        <label>Update Quote to Needs Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Needs Review</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Answer_Screen</name>
        <label>Answer Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RepeaterLoop</targetReference>
        </connector>
        <fields>
            <name>RepeatMe</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Question</name>
                <fieldText>&lt;p&gt;{!Get_Answer_Records[$EachItem].Question__r.Question__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Answer</name>
                <defaultValue>
                    <stringValue>{!Get_Answer_Records[$EachItem].Answer__c}</stringValue>
                </defaultValue>
                <fieldText>Answer</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Answer_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit Answers</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Answer_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnswersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalAnswers__c</objectType>
    </variables>
    <variables>
        <name>approvalAnswerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalAnswers__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
