force-app/main/default/flows/RCA_Subflow_Create_Live_Approval_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Live_Approval_Record</name>
        <label>Create Live Approval Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LiveApprovalCreator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>approvalRuleIds</name>
            <value>
                <elementReference>approvalIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LiveApprovalCreator</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Approval_Id_List</name>
        <label>Set Approval Id List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Rule_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_Loop</targetReference>
        </connector>
    </assignments>
    <description>Fired From Quote After Trigger to Create a Live Approval Record.</description>
    <environments>Default</environments>
    <interviewLabel>RCA Subflow Create Live Approval Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCA Subflow Create Live Approval Record</label>
    <loops>
        <name>Rule_Loop</name>
        <label>Rule Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Approval_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Id_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Live_Approval_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approval_Rules</name>
        <label>Get Approval Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rule_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RCA_Approval_Rule__c</object>
        <sortField>Level__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Approval_Rules</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvalIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
