force-app/main/default/flows/RCA_Approval_Rule_Evaluation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Live_Approval_Update</name>
        <label>Live Approval Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UpdateLiveApprovalInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Live_Approval_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>approvals</name>
            <value>
                <elementReference>approvalLiveList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateLiveApprovalInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_2_1_Trigger</name>
        <label>Copy 1 of 2-1 Trigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Trigger_Rule</name>
        <label>Copy 2 of Trigger Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Levels_List</name>
        <label>Levels List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LevelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LevelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LevelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LevelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Levels_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Triggered_User</name>
        <label>Not Triggered User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>dummy@dummy.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Live_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Live_Approval</name>
        <label>Output Live Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>live</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Live_Approval_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reset_Triggering</name>
        <label>Reset Triggering</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Rule_am_I_Running</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_Id</name>
        <label>Set Group Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_Loop.Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Live_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Live_Approval</name>
        <label>Set Live Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalLive.approvalRuleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLive.approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approver</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLive.triggeringStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ruleTriggered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLive.approvalStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLiveList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>approvalLive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Manager_Id</name>
        <label>Set Manager Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manager.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Live_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Managers_Manager</name>
        <label>Set Managers Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManagerManager.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Live_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Approver</name>
        <label>Set User Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_Loop.Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Live_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trigger_Rule</name>
        <label>Trigger Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2_1_Trigger</name>
        <label>2-1 Trigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X3_1_Trigger</name>
        <label>3-1 Trigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X3_2_Trigger</name>
        <label>Rule 4 Trigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X4_1_Trigger</name>
        <label>Rule5Trigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X4_6_Trigger</name>
        <label>Rule6Trigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Approver</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Discount_Rule</name>
        <label>Discount Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Summary_Variables.a1QuoteDiscount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Trigger_Rule</targetReference>
            </connector>
            <label>Discount &gt; 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Line_Count_Rule</name>
        <label>Line Count Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Line_Count_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Summary_Variables.a3LineCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_1_Trigger</targetReference>
            </connector>
            <label>Line Count =1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Approver</name>
        <label>Select Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Not_Triggered_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule Note Triggered</defaultConnectorLabel>
        <rules>
            <name>Triggered_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rule_Loop.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ruleTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Approver</targetReference>
            </connector>
            <label>Triggered - User</label>
        </rules>
        <rules>
            <name>Triggered_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rule_Loop.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ruleTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Manager_Id</targetReference>
            </connector>
            <label>Triggered Manager</label>
        </rules>
        <rules>
            <name>Triggered_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rule_Loop.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ruleTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_Id</targetReference>
            </connector>
            <label>Triggered - Group</label>
        </rules>
        <rules>
            <name>Triggered_ManagerManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rule_Loop.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ManagerManager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ruleTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Managers_Manager</targetReference>
            </connector>
            <label>Triggered - ManagerManager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Level1</name>
        <label>Select Level</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_Rule</targetReference>
            </connector>
            <label>Level 1</label>
        </rules>
        <rules>
            <name>Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_Rule</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
        <rules>
            <name>Level_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtotal_Test</targetReference>
            </connector>
            <label>Level 3</label>
        </rules>
        <rules>
            <name>Level_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3_2_Trigger</targetReference>
            </connector>
            <label>Level 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Levela</name>
        <label>Select Level</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level1a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4_1_Trigger</targetReference>
            </connector>
            <label>Level 1</label>
        </rules>
        <rules>
            <name>Level2a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
        <rules>
            <name>Level3a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 3</label>
        </rules>
        <rules>
            <name>Level4a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>SelectLevelb</name>
        <label>Select Level</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level1b</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4_6_Trigger</targetReference>
            </connector>
            <label>Level 1</label>
        </rules>
        <rules>
            <name>Level2b</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
        <rules>
            <name>Level3b</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 3</label>
        </rules>
        <rules>
            <name>Level4b</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>SelectLevelx</name>
        <label>Select Level</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level1x</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Line_Count_Rule</targetReference>
            </connector>
            <label>Level 1</label>
        </rules>
        <rules>
            <name>Level2x</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Unit_Cost_Test</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
        <rules>
            <name>Level3x</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 3</label>
        </rules>
        <rules>
            <name>Level4x</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>SelectLevely</name>
        <label>Select Level</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level1y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 1</label>
        </rules>
        <rules>
            <name>Level2y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
        <rules>
            <name>Level3y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 3</label>
        </rules>
        <rules>
            <name>Level4y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>SelectLevelz</name>
        <label>Select Level</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level1z</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 1</label>
        </rules>
        <rules>
            <name>Level2z</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
        <rules>
            <name>Level3z</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 3</label>
        </rules>
        <rules>
            <name>Level4z</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>Level 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subtotal_Test</name>
        <label>Subtotal Test</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subtotal_1000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Summary_Variables.a5SubTotal</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3_1_Trigger</targetReference>
            </connector>
            <label>Subtotal &gt; 1000</label>
        </rules>
    </decisions>
    <decisions>
        <name>Total_Unit_Cost_Test</name>
        <label>Total Unit Cost Test</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Line_Count_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Summary_Variables.a4TotalUnitCost</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_2_1_Trigger</targetReference>
            </connector>
            <label>Copy 1 of Line Count =1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Rule</name>
        <label>Type Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advanced_Config</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Summary_Variables.a2QuoteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AdvancedConfigurator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Rule</targetReference>
            </connector>
            <label>Advanced Config</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Rule_am_I_Running</name>
        <label>Which Rule am I Running</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rule_Loop.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Level1</targetReference>
            </connector>
            <label>Rule 1</label>
        </rules>
        <rules>
            <name>Rule_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rule_Loop.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectLevelx</targetReference>
            </connector>
            <label>Rule 2</label>
        </rules>
        <rules>
            <name>Rule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rule_Loop.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectLevely</targetReference>
            </connector>
            <label>Rule 3</label>
        </rules>
        <rules>
            <name>Rule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rule_Loop.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectLevelz</targetReference>
            </connector>
            <label>Rule 4</label>
        </rules>
        <rules>
            <name>Rule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rule_Loop.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Levela</targetReference>
            </connector>
            <label>Rule 5</label>
        </rules>
        <rules>
            <name>Rule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rule_Loop.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectLevelb</targetReference>
            </connector>
            <label>Rule 6</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RCA Approval Rule Evaluation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCA Approval Rule Evaluation Flow</label>
    <loops>
        <name>Levels_Loop</name>
        <label>Levels Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>LevelsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Approval_Rules</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Live_Approval_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Rule_Loop</name>
        <label>Rule Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Approval_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Triggering</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Levels_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Approval_Rules</name>
        <label>Approval Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rule_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Levels_Loop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RCA_Approval_Rule__c</object>
        <sortField>Level__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Live_Approval_Record</name>
        <label>Get Live Approval Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Output_Live_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Live_Approval__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Manager</name>
        <label>Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ManagerManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ManagerManager</name>
        <label>ManagerManager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Levels_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Manager.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Users</name>
        <label>Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EmployeeNumber</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Summary_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Summary_Variables</name>
        <label>Summary Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Users</targetReference>
        </connector>
        <flowName>RCA_Summary_Variable_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>approvalLive</name>
        <apexClass>ApprovalRecordsWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approvalLiveList</name>
        <apexClass>ApprovalRecordsWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LevelsList</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>live</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Live_Approval__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ruleTriggered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
