force-app/main/default/flows/RCA_Approval_Rule_Evaluation_Invocable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Evaluation_Rule</name>
        <label>Invoke Evaluation Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowInvokerApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Did_Invoke_Work</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>approvalRule</name>
            <value>
                <elementReference>Rules</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>Rules.Flow_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteLineGroups</name>
            <value>
                <elementReference>Quote_Line_Groups</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteLineItems</name>
            <value>
                <elementReference>Quote_Line_Items</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteRecord</name>
            <value>
                <elementReference>Get_Quote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowInvokerApex</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>approvalLive</assignToReference>
            <name>approvalRecordsWrapper</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>approver</assignToReference>
            <name>approver</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ruleTriggered</assignToReference>
            <name>triggered</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Live_Approval_Update</name>
        <label>Live Approval Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UpdateLiveApprovalInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Level_Loop</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>approvals</name>
            <value>
                <elementReference>approvalLiveList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateLiveApprovalInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Approval_to_List</name>
        <label>Add Approval to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalLive.triggeringStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ruleTriggered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLive.approvalRuleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rules.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLive.approvalStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLive.approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver_Locator.approver</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLiveList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>approvalLive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Approval_to_List_0</name>
        <label>Add Approval to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalLive.approvalStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLive.approvalRuleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rules.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLive.approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>dummy@dummy.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLive.triggeringStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalLiveList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>approvalLive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Level_Add</name>
        <label>Level Add</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LevelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LevelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LevelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LevelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Level_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Level_1_Record</name>
        <label>Set Level 1 Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>level1LiveApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Live_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Live_Approval_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Level_2_Record</name>
        <label>Set Level 2 Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>level2LiveApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Live_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Live_Approval_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Level_3_Record</name>
        <label>Set Level 3 Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>level3LiveApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Live_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Live_Approval_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Level_4_Approval_Record</name>
        <label>Set Level 4 Approval Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>level4LiveApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Live_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Live_Approval_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Quote_Status</name>
        <label>Check Quote Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Live_Approval_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending Approval</defaultConnectorLabel>
        <rules>
            <name>Draft</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Summary_Variables</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Invoke_Work</name>
        <label>Did Invoke Work</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Approval_to_List_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver_Locator</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Level_Check</name>
        <label>Level Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Level_1_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Level 1</defaultConnectorLabel>
        <rules>
            <name>Level_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Live_Approval_Loop.Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Level_4_Approval_Record</targetReference>
            </connector>
            <label>Level 4</label>
        </rules>
        <rules>
            <name>Level_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Live_Approval_Loop.Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Level_3_Record</targetReference>
            </connector>
            <label>Level 3</label>
        </rules>
        <rules>
            <name>Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Live_Approval_Loop.Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Level_2_Record</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RCA Approval Rule Evaluation Invocable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCA Approval Rule Evaluation Invocable</label>
    <loops>
        <name>Level_Loop</name>
        <label>Level Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>LevelsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Approval_Rules</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Live_Approval_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Live_Approval_Loop</name>
        <label>Live Approval Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Live_Approval_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Level_Check</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Rules</name>
        <label>Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Approval_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Invoke_Evaluation_Rule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Live_Approval_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Approval_Rules</name>
        <label>Approval Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Level_Loop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RCA_Approval_Rule__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Live_Approval_Records</name>
        <label>Get Live Approval Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Live_Approval_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Live_Approval__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Quote_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Manager</name>
        <label>Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ManagerManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ManagerManager</name>
        <label>ManagerManager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Level_Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Manager.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Quote_Line_Groups</name>
        <label>Quote Line Groups</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Quote_Line_Items</name>
        <label>Quote Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Line_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Users</name>
        <label>Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EmployeeNumber</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Approver_Locator</name>
        <label>Approver Locator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Approval_to_List</targetReference>
        </connector>
        <flowName>RCA_Approver_Locator</flowName>
        <inputAssignments>
            <name>approvalRule</name>
            <value>
                <elementReference>Rules</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>managerManagerRecord</name>
            <value>
                <elementReference>ManagerManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>managerRecord</name>
            <value>
                <elementReference>Manager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quoteRecord</name>
            <value>
                <elementReference>Get_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ruleTriggered</name>
            <value>
                <elementReference>ruleTriggered</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Summary_Variables</name>
        <label>Summary Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quote_Line_Items</targetReference>
        </connector>
        <flowName>RCA_Summary_Variable_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>approvalLive</name>
        <apexClass>ApprovalRecordsWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approvalLiveList</name>
        <apexClass>ApprovalRecordsWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>level1LiveApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Live_Approval__c</objectType>
    </variables>
    <variables>
        <name>level2LiveApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Live_Approval__c</objectType>
    </variables>
    <variables>
        <name>level3LiveApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Live_Approval__c</objectType>
    </variables>
    <variables>
        <name>level4LiveApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Live_Approval__c</objectType>
    </variables>
    <variables>
        <name>LevelsList</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ruleTriggered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
