force-app/main/default/flows/RCA_Evaluate_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Failed</name>
        <label>Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Passed</name>
        <label>Passed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>Completed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Steps_Stages</name>
        <label>Check Steps/Stages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Done</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>D1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>D2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passed</targetReference>
            </connector>
            <label>All Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Steps_Stages_for_L3</name>
        <label>Check Steps/Stages for L3tr</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Done_0</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6) AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>D1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>D2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>D3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>D4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passed</targetReference>
            </connector>
            <label>All Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Steps_Stages_for_L4</name>
        <label>Check Steps/Stages for L4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Done_0_0</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>D1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passed</targetReference>
            </connector>
            <label>All Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Level_is_Approval</name>
        <label>What Level is Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Steps_Stages_for_L4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>L4</defaultConnectorLabel>
        <rules>
            <name>L1_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Steps_Stages</targetReference>
            </connector>
            <label>L1/2</label>
        </rules>
        <rules>
            <name>L3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Steps_Stages_for_L3</targetReference>
            </connector>
            <label>L3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RCA Evaluate Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCA Evaluate Stage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>EvaluationFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Level_is_Approval</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>D1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>D2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>D3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>D4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isOrchestrationConditionMet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>level</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnedVariable1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>True to Skip</description>
        <name>Skip1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Skip2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Skip3</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Skip4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
