force-app/main/default/flows/RCA_Subflow_Create_Live_Approval_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Live_Approval_Record</name>
        <label>Create Live Approval Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LiveApprovalCreator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clear_Id_List</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>approvalRuleIds</name>
            <value>
                <elementReference>approvalIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <elementReference>Levels_Loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LiveApprovalCreator</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Clear_Id_List</name>
        <label>Clear Id List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalIdList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Levels_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Levels_List</name>
        <label>Levels List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>levels</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>levels</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>levels</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>levels</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Levels_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Id_List</name>
        <label>Set Approval Id List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Rule_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Name_to_Skip_for_Testing</name>
        <label>Check Name to Skip for Testing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Levels_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Test</defaultConnectorLabel>
        <rules>
            <name>Is_Test_Running</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Quote.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quote.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quote.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q2</stringValue>
                </rightValue>
            </conditions>
            <label>Is Test Running</label>
        </rules>
    </decisions>
    <description>Fired From Quote After Trigger to Create a Live Approval Record.</description>
    <environments>Default</environments>
    <interviewLabel>RCA Subflow Create Live Approval Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCA Subflow Create Live Approval Record</label>
    <loops>
        <name>Levels_Loop</name>
        <label>Levels Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>levels</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Approval_Rules</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Rule_Loop</name>
        <label>Rule Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Approval_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Id_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Live_Approval_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approval_Rules</name>
        <label>Get Approval Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rule_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Levels_Loop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RCA_Approval_Rule__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Quote</name>
        <label>Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Name_to_Skip_for_Testing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvalIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>levels</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
