force-app/main/default/flows/RCA_Approval_Orch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Level_1_Status</name>
        <label>Check Level 1 Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rejection_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Level 1 Rejected</defaultConnectorLabel>
        <rules>
            <name>Level_1_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Level_1_Approved_or_Rejected.Outputs.stageStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_2</targetReference>
            </connector>
            <label>Level 1 Approve</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Level_2_Status</name>
        <label>Check Level 2 Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rejection_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Level 2 Rejected</defaultConnectorLabel>
        <rules>
            <name>Level_2_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Level_2_Approved_or_Rejected.Outputs.stageStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_3</targetReference>
            </connector>
            <label>Level 2 Approve</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Level_3_Status</name>
        <label>Check Level 3 Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rejection_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Level 3 Rejected</defaultConnectorLabel>
        <rules>
            <name>Level_3_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Level_3_Approved_or_Rejected.Outputs.stageStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_4</targetReference>
            </connector>
            <label>Level 3 Approve</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Level_4_Status</name>
        <label>Check Level 4 Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rejection_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Level 4 Rejected</defaultConnectorLabel>
        <rules>
            <name>Level_4_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Level_4_Approved_or_Rejected.Outputs.stageStatus</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Approval_Stage</targetReference>
            </connector>
            <label>Level 4 Approve</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RCA Approval Orch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCA Approval Orch</label>
    <orchestratedStages>
        <name>Approval_Stage</name>
        <label>Approval Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_Quote_to_Approved</name>
            <actionName>RCA_Update_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>inputStatus</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>Set Quote to Approved</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Check_Live</name>
        <label>Check Live</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_1</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>RCA_Approval_Rule_Evaluation_Flow</name>
            <actionName>RCA_Approval_Rule_Evaluation_Flow</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>epic.3d84eb37d117@orgfarm.out</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>Approval Rule Evaluation Flow</label>
            <outputConfigParams>
                <name>live</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>recordId</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Evaluate_Level_1</name>
        <label>Evaluate Level 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Level_1_Status</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Level_1_Approved_or_Rejected</name>
            <actionName>RCA_Set_Approve_or_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Status1</name>
                <value>
                    <elementReference>Approval_1.Status</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status2</name>
                <value>
                    <elementReference>Approval_2.Status</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status3</name>
            </inputParameters>
            <inputParameters>
                <name>Status4</name>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>Level 1 Approved or Rejected</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Evaluate_Level_2</name>
        <label>Evaluate Level 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Level_2_Status</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Level_2_Approved_or_Rejected</name>
            <actionName>RCA_Set_Approve_or_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Status1</name>
                <value>
                    <elementReference>Approval_3.Status</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status2</name>
                <value>
                    <elementReference>Approval_4.Status</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status3</name>
            </inputParameters>
            <inputParameters>
                <name>Status4</name>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>Level 2 Approved or Rejected</label>
            <outputConfigParams>
                <name>OutputTest</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>stageStatus</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Evaluate_Level_3</name>
        <label>Evaluate Level 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Level_3_Status</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Level_3_Approved_or_Rejected</name>
            <actionName>RCA_Set_Approve_or_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Status1</name>
                <value>
                    <elementReference>Approval_5.Status</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status3</name>
            </inputParameters>
            <inputParameters>
                <name>Status4</name>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>Level 3 Approved or Rejected</label>
            <outputConfigParams>
                <name>OutputTest</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>stageStatus</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Evaluate_Level_4</name>
        <label>Evaluate Level 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Level_4_Status</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Level_4_Approved_or_Rejected</name>
            <actionName>RCA_Set_Approve_or_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Status1</name>
                <value>
                    <elementReference>Approval_6.Status</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status2</name>
            </inputParameters>
            <inputParameters>
                <name>Status3</name>
            </inputParameters>
            <inputParameters>
                <name>Status4</name>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>Level 4 Approved or Rejected</label>
            <outputConfigParams>
                <name>OutputTest</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>stageStatus</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Recall_Stage</name>
        <label>Recall Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_Back_to_Draft</name>
            <actionName>RCA_Update_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>epic.3d84eb37d117@orgfarm.out</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>inputStatus</name>
                <value>
                    <stringValue>Draft</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>Set Back to Draft</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Rejection_Stage</name>
        <label>Rejection Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Quote_Status</name>
            <actionName>RCA_Update_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>epic.3d84eb37d117@orgfarm.out</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>inputStatus</name>
                <value>
                    <stringValue>Draft</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>Update Quote Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_1</name>
        <label>Stage 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Level_1</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>Status1</name>
            <value>
                <elementReference>Approval_1.Status</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>Status2</name>
            <value>
                <elementReference>Approval_2.Status</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>Status3</name>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>Status4</name>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionName>RCA_Stage_Evaluation</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Approval_1</name>
            <actionName>RCA_Approval_Evaluate_Approve_Reject</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approver_1__c</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <canAssigneeEdit>true</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Triggered_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>approvalRule</name>
                <value>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approval_Rule_1__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approval_Rule_1__r.Chain__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
            </inputParameters>
            <label>Approval 1</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>recordId</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Approval_2</name>
            <actionName>RCA_Approval_Evaluate_Approve_Reject</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approver_2__c</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <canAssigneeEdit>true</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Triggered_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>approvalRule</name>
                <value>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approval_Rule_2__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approval_Rule_2__r.Chain__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
            </inputParameters>
            <label>Approval 2</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>recordId</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_2</name>
        <label>Stage 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Level_2</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>Status1</name>
            <value>
                <elementReference>Approval_3.Status</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>Status2</name>
            <value>
                <elementReference>Approval_4.Status</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>Status3</name>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>Status4</name>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionName>RCA_Stage_Evaluation</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Approval_3</name>
            <actionName>RCA_Approval_Evaluate_Approve_Reject</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approver_3__c</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <canAssigneeEdit>true</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Triggered_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>approvalRule</name>
                <value>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approval_Rule_3__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approval_Rule_3__r.Chain__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
            </inputParameters>
            <label>Approval 3</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>recordId</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Approval_4</name>
            <actionName>RCA_Approval_Evaluate_Approve_Reject</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approver_4__c</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <canAssigneeEdit>true</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Triggered_4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>approvalRule</name>
                <value>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approval_Rule_4__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approval_Rule_4__r.Chain__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
            </inputParameters>
            <label>Approval 4</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>recordId</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_3</name>
        <label>Stage 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Level_3</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>Status1</name>
            <value>
                <elementReference>Approval_5.Status</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>Status2</name>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>Status3</name>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>Status4</name>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionName>RCA_Stage_Evaluation</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Approval_5</name>
            <actionName>RCA_Approval_Evaluate_Approve_Reject</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approver_5__c</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <canAssigneeEdit>true</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Triggered_5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>approvalRule</name>
                <value>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approval_Rule_5__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approval_Rule_5__r.Chain__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
            </inputParameters>
            <label>Approval 5</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>recordId</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_4</name>
        <label>Stage 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Level_4</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Approval_6</name>
            <actionName>RCA_Approval_Evaluate_Approve_Reject</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approver_6__c</elementReference>
                </assignee>
                <assigneeType>Resource</assigneeType>
            </assignees>
            <canAssigneeEdit>true</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Triggered_6__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>approvalRule</name>
                <value>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approval_Rule_6__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <elementReference>RCA_Approval_Rule_Evaluation_Flow.Outputs.live.Approval_Rule_6__r.Chain__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
            </inputParameters>
            <label>Approval 6</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>recordId</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Live</targetReference>
        </connector>
        <scheduledPaths>
            <connector>
                <targetReference>Recall_Stage</targetReference>
            </connector>
            <pathType>ApprovalRecall</pathType>
        </scheduledPaths>
    </start>
    <status>Active</status>
    <variables>
        <name>approver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>epic.3d84eb37d117@orgfarm.out</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>submissionComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>submitter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005SB00000NkPxRYAV</stringValue>
        </value>
    </variables>
</Flow>
