force-app/main/default/flows/RCA_Recall_Live_Approval_Statuses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Live_Approval_Sync</name>
        <label>Live Approval Sync</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UpdateLiveApprovalInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>approvals</name>
            <value>
                <elementReference>liveApprovalList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateLiveApprovalInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Wrapper</name>
        <label>Set Wrapper</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>liveapprovalRecord.approvalRuleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rules.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>liveapprovalRecord.approvalStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>liveApprovalList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>liveapprovalRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rules</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>RCA Recall Live Approval Statuses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCA Recall Live Approval Statuses</label>
    <loops>
        <name>Rules</name>
        <label>Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Approval_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Wrapper</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Live_Approval_Sync</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approval_Rules</name>
        <label>Get Approval Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RCA_Approval_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Approval_Rules</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>liveApprovalList</name>
        <apexClass>ApprovalRecordsWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>liveapprovalRecord</name>
        <apexClass>ApprovalRecordsWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
