force-app/main/default/flows/RCA_Approval_Rule_Evaluation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Live_Approval_Update</name>
        <label>Live Approval Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UpdateLiveApprovalInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Live_Approval_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>approvals</name>
            <value>
                <elementReference>approvalLiveList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateLiveApprovalInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Live_List</name>
        <label>Add to Live List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalLiveList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>approvalLive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Live_List_0</name>
        <label>Add to Live List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalLiveList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>approvalLive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Live_List_0_0</name>
        <label>Add to Live List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalLiveList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>approvalLive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Live_List_0_0_0</name>
        <label>Add to Live List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalLiveList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>approvalLive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Levels_List</name>
        <label>Levels List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LevelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LevelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LevelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LevelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Levels_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Live_Approval</name>
        <label>Output Live Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>live</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Live_Approval_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reset_Triggering</name>
        <label>Reset Triggering</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Triggering_0</name>
        <label>Reset Triggering</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Triggering_0_0</name>
        <label>Reset Triggering</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_Check_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Triggering_0_0_0</name>
        <label>Reset Triggering</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_Check_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Non_Triggered_Rules</name>
        <label>Set Non Triggered Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Approver_Locator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Non_Triggered_Rules_0</name>
        <label>Set Non Triggered Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approver_Locator_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Non_Triggered_Rules_0_0</name>
        <label>Set Non Triggered Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approver_Locator_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Non_Triggered_Rules_0_0_0</name>
        <label>Set Non Triggered Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approver_Locator_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Triggered_Rules</name>
        <label>Set Triggered Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approver_Locator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Triggered_Rules_0</name>
        <label>Set Triggered Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approver_Locator_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Triggered_Rules_0_0</name>
        <label>Set Triggered Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approver_Locator_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Triggered_Rules_0_0_0</name>
        <label>Set Triggered Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ruleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approver_Locator_0_0_0</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Rules</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Rules</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Approval_Rules</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Rules.Level__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Levels_Loop</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Rules.IsActive__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Which_Level_Are_We_Evaluating</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>R3_Decision</name>
        <label>R3 Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Non_Triggered_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Triggered R3</defaultConnectorLabel>
        <rules>
            <name>Triggered_R3_Logic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Summary_Variables.a3LineCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Triggered_Rules</targetReference>
            </connector>
            <label>Triggered R3 Logic</label>
        </rules>
    </decisions>
    <decisions>
        <name>R3_Decision_0</name>
        <label>R3 Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Non_Triggered_Rules_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Triggered R3</defaultConnectorLabel>
        <rules>
            <name>Triggered_R3_Logic_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Summary_Variables.a3LineCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triggered_Rules_0</targetReference>
            </connector>
            <label>Triggered R3 Logic</label>
        </rules>
    </decisions>
    <decisions>
        <name>R3_Decision_0_0</name>
        <label>R3 Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Non_Triggered_Rules_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Triggered R3</defaultConnectorLabel>
        <rules>
            <name>Triggered_R3_Logic_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Summary_Variables.a3LineCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triggered_Rules_0_0</targetReference>
            </connector>
            <label>Triggered R3 Logic</label>
        </rules>
    </decisions>
    <decisions>
        <name>R3_Decision_0_0_0</name>
        <label>R3 Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Non_Triggered_Rules_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Triggered R3</defaultConnectorLabel>
        <rules>
            <name>Triggered_R3_Logic_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Summary_Variables.a3LineCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Triggered_Rules_0_0_0</targetReference>
            </connector>
            <label>Triggered R3 Logic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_Check</name>
        <label>Rule Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>R1Triggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop4.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a1QuoteDiscount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triggered_Rules</targetReference>
            </connector>
            <label>R1Triggered</label>
        </rules>
        <rules>
            <name>R1NotTriggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop4.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a1QuoteDiscount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Non_Triggered_Rules</targetReference>
            </connector>
            <label>R1NotTriggered</label>
        </rules>
        <rules>
            <name>R2Triggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop4.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a2QuoteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triggered_Rules</targetReference>
            </connector>
            <label>R2Triggered</label>
        </rules>
        <rules>
            <name>R2NotTriggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop4.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a2QuoteType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Non_Triggered_Rules</targetReference>
            </connector>
            <label>R2NotTriggered</label>
        </rules>
        <rules>
            <name>R3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop4.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>R3_Decision</targetReference>
            </connector>
            <label>R3</label>
        </rules>
        <rules>
            <name>R4Triggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop4.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a4TotalUnitCost</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triggered_Rules</targetReference>
            </connector>
            <label>R4Triggered</label>
        </rules>
        <rules>
            <name>R4NotTriggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop4.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a4TotalUnitCost</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Non_Triggered_Rules</targetReference>
            </connector>
            <label>R4NotTriggered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_Check_0</name>
        <label>Rule Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>R1Triggered_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop3.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a1QuoteDiscount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triggered_Rules_0</targetReference>
            </connector>
            <label>R1Triggered</label>
        </rules>
        <rules>
            <name>R1NotTriggered_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop3.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a1QuoteDiscount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Non_Triggered_Rules_0</targetReference>
            </connector>
            <label>R1NotTriggered</label>
        </rules>
        <rules>
            <name>R2Triggered_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop3.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a2QuoteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Triggered_Rules_0</targetReference>
            </connector>
            <label>R2Triggered</label>
        </rules>
        <rules>
            <name>R2NotTriggered_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop3.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a2QuoteType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Non_Triggered_Rules_0</targetReference>
            </connector>
            <label>R2NotTriggered</label>
        </rules>
        <rules>
            <name>R3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop3.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>R3_Decision_0</targetReference>
            </connector>
            <label>R3</label>
        </rules>
        <rules>
            <name>R4Triggered_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop3.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a4TotalUnitCost</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triggered_Rules_0</targetReference>
            </connector>
            <label>R4Triggered</label>
        </rules>
        <rules>
            <name>R4NotTriggered_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop3.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a4TotalUnitCost</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Non_Triggered_Rules_0</targetReference>
            </connector>
            <label>R4NotTriggered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_Check_0_0</name>
        <label>Rule Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>R1Triggered_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop2.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a1QuoteDiscount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triggered_Rules_0_0</targetReference>
            </connector>
            <label>R1Triggered</label>
        </rules>
        <rules>
            <name>R1NotTriggered_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop2.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a1QuoteDiscount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Non_Triggered_Rules_0_0</targetReference>
            </connector>
            <label>R1NotTriggered</label>
        </rules>
        <rules>
            <name>R2Triggered_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop2.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a2QuoteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triggered_Rules_0_0</targetReference>
            </connector>
            <label>R2Triggered</label>
        </rules>
        <rules>
            <name>R2NotTriggered_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop2.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a2QuoteType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Non_Triggered_Rules_0_0</targetReference>
            </connector>
            <label>R2NotTriggered</label>
        </rules>
        <rules>
            <name>R3_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop2.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>R3_Decision_0_0</targetReference>
            </connector>
            <label>R3</label>
        </rules>
        <rules>
            <name>R4Triggered_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop2.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a4TotalUnitCost</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Triggered_Rules_0_0</targetReference>
            </connector>
            <label>R4Triggered</label>
        </rules>
        <rules>
            <name>R4NotTriggered_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop2.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a4TotalUnitCost</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Non_Triggered_Rules_0_0</targetReference>
            </connector>
            <label>R4NotTriggered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_Check_0_0_0</name>
        <label>Rule Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>R1Triggered_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a1QuoteDiscount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triggered_Rules_0_0_0</targetReference>
            </connector>
            <label>R1Triggered</label>
        </rules>
        <rules>
            <name>R1NotTriggered_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a1QuoteDiscount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Non_Triggered_Rules_0_0_0</targetReference>
            </connector>
            <label>R1NotTriggered</label>
        </rules>
        <rules>
            <name>R2Triggered_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a2QuoteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triggered_Rules_0_0_0</targetReference>
            </connector>
            <label>R2Triggered</label>
        </rules>
        <rules>
            <name>R2NotTriggered_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a2QuoteType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Non_Triggered_Rules_0_0_0</targetReference>
            </connector>
            <label>R2NotTriggered</label>
        </rules>
        <rules>
            <name>R3_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>R3_Decision_0_0_0</targetReference>
            </connector>
            <label>R3</label>
        </rules>
        <rules>
            <name>R4Triggered_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a4TotalUnitCost</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triggered_Rules_0_0_0</targetReference>
            </connector>
            <label>R4Triggered</label>
        </rules>
        <rules>
            <name>R4NotTriggered_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Summary_Variables.a4TotalUnitCost</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Non_Triggered_Rules_0_0_0</targetReference>
            </connector>
            <label>R4NotTriggered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Level_Are_We_Evaluating</name>
        <label>Which Level Are We Evaluating</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Level 1 Rules</defaultConnectorLabel>
        <rules>
            <name>Level_4_Rules</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop4</targetReference>
            </connector>
            <label>Level 4 Rules</label>
        </rules>
        <rules>
            <name>Level_3_Rules</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop3</targetReference>
            </connector>
            <label>Level 3 Rules</label>
        </rules>
        <rules>
            <name>Level_2_Rules</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Levels_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop2</targetReference>
            </connector>
            <label>Level 2 Rules</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RCA Approval Rule Evaluation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCA Approval Rule Evaluation Flow</label>
    <loops>
        <name>Levels_Loop</name>
        <label>Levels Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>LevelsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Rules</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Live_Approval_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop1</name>
        <label>Loop1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Triggering_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Levels_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop2</name>
        <label>Loop2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Triggering_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Levels_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop3</name>
        <label>Loop3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Triggering_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Levels_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop4</name>
        <label>Loop4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Triggering</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Levels_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Approval_Rules</name>
        <label>Approval Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Levels_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RCA_Approval_Rule__c</object>
        <sortField>Level__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Live_Approval_Record</name>
        <label>Get Live Approval Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Output_Live_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Live_Approval__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Manager</name>
        <label>Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ManagerManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ManagerManager</name>
        <label>ManagerManager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Manager.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Users</name>
        <label>Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EmployeeNumber</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Summary_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Approver_Locator</name>
        <label>Approver Locator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_to_Live_List</targetReference>
        </connector>
        <flowName>RCA_Approver_Locator</flowName>
        <inputAssignments>
            <name>approvalRule</name>
            <value>
                <elementReference>Loop4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>managerManagerRecord</name>
            <value>
                <elementReference>ManagerManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>managerRecord</name>
            <value>
                <elementReference>Manager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ruleTriggered</name>
            <value>
                <elementReference>ruleTriggered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UsersList</name>
            <value>
                <elementReference>Users</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>approvalLive</assignToReference>
            <name>approvalLive</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Approver_Locator_0</name>
        <label>Approver Locator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_to_Live_List_0</targetReference>
        </connector>
        <flowName>RCA_Approver_Locator</flowName>
        <inputAssignments>
            <name>approvalRule</name>
            <value>
                <elementReference>Loop3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>managerManagerRecord</name>
            <value>
                <elementReference>ManagerManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>managerRecord</name>
            <value>
                <elementReference>Manager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ruleTriggered</name>
            <value>
                <elementReference>ruleTriggered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UsersList</name>
            <value>
                <elementReference>Users</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>approvalLive</assignToReference>
            <name>approvalLive</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Approver_Locator_0_0</name>
        <label>Approver Locator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_to_Live_List_0_0</targetReference>
        </connector>
        <flowName>RCA_Approver_Locator</flowName>
        <inputAssignments>
            <name>approvalRule</name>
            <value>
                <elementReference>Loop2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>managerManagerRecord</name>
            <value>
                <elementReference>ManagerManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>managerRecord</name>
            <value>
                <elementReference>Manager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ruleTriggered</name>
            <value>
                <elementReference>ruleTriggered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UsersList</name>
            <value>
                <elementReference>Users</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>approvalLive</assignToReference>
            <name>approvalLive</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Approver_Locator_0_0_0</name>
        <label>Approver Locator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_to_Live_List_0_0_0</targetReference>
        </connector>
        <flowName>RCA_Approver_Locator</flowName>
        <inputAssignments>
            <name>approvalRule</name>
            <value>
                <elementReference>Loop1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>managerManagerRecord</name>
            <value>
                <elementReference>ManagerManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>managerRecord</name>
            <value>
                <elementReference>Manager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ruleTriggered</name>
            <value>
                <elementReference>ruleTriggered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UsersList</name>
            <value>
                <elementReference>Users</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>approvalLive</assignToReference>
            <name>approvalLive</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Summary_Variables</name>
        <label>Summary Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Users</targetReference>
        </connector>
        <flowName>RCA_Summary_Variable_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>approvalLive</name>
        <apexClass>ApprovalRecordsWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approvalLiveList</name>
        <apexClass>ApprovalRecordsWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Rules</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RCA_Approval_Rule__c</objectType>
    </variables>
    <variables>
        <name>LevelsList</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>live</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Live_Approval__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ruleTriggered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
