force-app/main/default/flows/RCA_Set_Approve_or_Rejected.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_To_Approve</name>
        <label>Set To Approve</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>stageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_to_Reject</name>
        <label>Set to Reject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>stageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Status_List</name>
        <label>Status List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status13</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status14</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status16</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status17</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status18</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status19</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status20</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Stages</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Stages</name>
        <label>Check Stages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Contains_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>statusListing</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Reject</targetReference>
            </connector>
            <label>Contains Reject</label>
        </rules>
        <rules>
            <name>Contains_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>statusListing</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_To_Approve</targetReference>
            </connector>
            <label>Contains Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RCA Set Approve or Rejected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCA Set Approve or Rejected</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_List</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OutputTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stageStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status8</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status9</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status12</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status13</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status14</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status15</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status16</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status17</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status18</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status19</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status20</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusListing</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
