force-app/main/default/flows/RCA_Stage_Evaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Exit_Finished_for_Success</name>
        <label>Exit Finished for Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Exit_Rejection_Found</name>
        <label>Exit Rejection Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stage_List</name>
        <label>Stage List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>stageList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stage1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stageList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stage2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stageList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stage3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stageList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stage4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Stages_and_Statuses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_List</name>
        <label>Status List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusListing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Still_in_Progress_and_Working</name>
        <label>Still in Progress and Working</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>Completed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Stage Listing is for the Stage (Completed, NotStarted, InProgress)
Status Listing is &quot;Approve, Reject&quot;</description>
        <name>Check_Stages_and_Statuses</name>
        <label>Check Stages and Statuses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Still_in_Progress_and_Working</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Hop_Out_for_Rejection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>statusListing</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exit_Rejection_Found</targetReference>
            </connector>
            <label>Hop Out for Rejection</label>
        </rules>
        <rules>
            <name>Contains_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stageList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>InProgress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Still_in_Progress_and_Working</targetReference>
            </connector>
            <label>Contains In Progress</label>
        </rules>
        <rules>
            <name>Not_Started_and_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stageList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exit_Finished_for_Success</targetReference>
            </connector>
            <label>Not Started and Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RCA Stage Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCA Stage Evaluation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>EvaluationFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_List</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isOrchestrationConditionMet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stage1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stage2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stage3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stage4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stageList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusListing</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
