force-app/main/default/flows/RCA_Prepare_Approval_Questions_for_Answers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Approval_Rule_Ids</name>
        <label>Get Approval Rule Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FindTriggeredApprovalRules</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Question_Based_on_Approval_Rules</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindTriggeredApprovalRules</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Existing_List</name>
        <label>Add to Existing List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>existingApprovalIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Answer_Loop.Approval_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Answer_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Answer</name>
        <label>Create Answer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalAnswerRecord.Approval_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_Loop.Approval_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalAnswerRecord.Quote_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalAnswerRecord.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalAnswerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>approvalAnswerRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Existing_Answers</name>
        <label>Are there Existing Answers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Answer_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes There are Existing Answers</defaultConnectorLabel>
        <rules>
            <name>No_Existing_Answers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Answers</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Question_Loop</targetReference>
            </connector>
            <label>No Existing Answers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Questions_and_Answers_to_Add</name>
        <label>Are there Questions and Answers to Add</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_add_them</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvalAnswerList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Answer_Records</targetReference>
            </connector>
            <label>Yes add them</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Rule_already_spoken_for</name>
        <label>Is the Rule already spoken for?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Answer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope, Add It</defaultConnectorLabel>
        <rules>
            <name>Rule_is_spoken_for</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingApprovalIdList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Question_Loop.Approval_Rule__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_Loop</targetReference>
            </connector>
            <label>Rule is spoken for</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RCA Prepare Approval Questions for Answers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCA Prepare Approval Questions for Answers</label>
    <loops>
        <name>Answer_Loop</name>
        <label>Answer Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Existing_Answers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Existing_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Question_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Question_Loop</name>
        <label>Question Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Question_Based_on_Approval_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_Rule_already_spoken_for</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_Questions_and_Answers_to_Add</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Answer_Records</name>
        <label>Create Answer Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesUpsert>true</doesUpsert>
        <inputReference>approvalAnswerList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Answers</name>
        <label>Get Existing Answers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Existing_Answers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApprovalAnswers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Question_Based_on_Approval_Rules</name>
        <label>Get Question Based on Approval Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Answers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Approval_Rule_Ids.approvalRuleIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApprovalQuestions__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Approval_Rule_Ids</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>approvalAnswerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalAnswers__c</objectType>
    </variables>
    <variables>
        <name>approvalAnswerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalAnswers__c</objectType>
    </variables>
    <variables>
        <name>existingApprovalIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
